<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bharat Club Page</title>
</head>
<body>
    <header><h1>BHARAT SPORTS CLUB<h3>- India jeetega</h3></h1></header>
    <section><h2>Facilities</h2>
             <ul><li>Hostel rooms</li>
                 <li>Food</li>
                 <li>Coaching</li>
            </ul>
    </section>
    <section><h2>Sports</h2>
            <ul><li>Cricket:cricket is a good sport</li>
                <li>Hockey:hockey is a good sport</li>
                <li>Football:football is a good sport</li>
            </ul>
    </section>
    <section>
        <h2>Teams</h2>
        <table border="1">
            <tr><th>Team no</th>
                <th>Sport</th>
                <th>Coach</th>
                <th>Time</th>
            </tr>
            <tr><td>1</td>
                <td>cricket</td>
                <td>Anurag</td>
                <td>2:00-6:00pm</td>
            </tr>
            <tr><td>2</td>
                <td>hockey</td>
                <td>Aruvi</td>
                <td>7:00-11:00am</td>
            </tr>
        </table>
    </section>
    <section><h2>Membership</h2>
             <form action="/join" method="post">
                <label>Age:<input type="number" name="age"></label><br>
                <label>Sport:<select name="sport">
                    <option>Cricket</option>
                    <option>Hockey</option>
                    <option>Football</option>
                </select></label><br>
                <label>Preferred Time:<input type="text" name="time"></label>
                <button type="submit">Join</button>
             </form></section>
    
</body>
</html>